<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h2 class="text-center">ลืมรหัสผ่าน?</h2>
    <br/>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render 'shared/devisemes' %>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "อีเมล์", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "ส่งรายละเอียดการตั้งรหัสใหม่ให้ฉัน", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
