<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">รายได้ของคุณในสัปดาห์นี้</div>
      <div class="panel-body">
        <div class="container text-center">
          <% if @reservations.blank? %>
              <h3>ยังไม่มีการจองในสัปดาห์นี้</h3><br/>
              <%= link_to "ร่วมเป็น Host และสร้างรายได้", new_room_path, class: "btn btn-normal" %>
          <% else %>
              <%= column_chart @this_week_revenue, colors: ["#00A699"] %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
